<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <table class="nav navbar-nav pull-left">
    <tr>
      <td><img class="img-polaroid" alt="Telenav Logo" src="/assets/logo.png" id="logo"/></td>
      <td><h1 class="main-title nav navbar-inverse">Test Lab Data Portal</h1></td>
    </tr>
  </table>
  <nav>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Wiki", '#'%></li>
      <li><%= link_to "Contact", '#'%></li>
    </ul>
  </nav>
</div>
</header>
